---
import SchemaLayout from '../../../layouts/SchemaLayout.astro';
---
<SchemaLayout title="Adverse Effects" schema="adverse-effects">
  <h1 class="text-3xl font-serif font-bold mb-4">Adverse Effects</h1>
  <p>Content coming soon.</p>
</SchemaLayout>
