---
import SchemaLayout from '../../../layouts/SchemaLayout.astro';
---
<SchemaLayout title="Therapeutic Classes" schema="therapeutic-classes">
  <h1 class="text-3xl font-serif font-bold mb-4">Therapeutic Classes</h1>
  <p>Content coming soon.</p>
</SchemaLayout>
