---
import BaseLayout from './BaseLayout.astro';
import Nav from '../components/Nav.astro';

export interface Props {
  title: string;
  schema: string;
  description?: string;
}
const { title, schema, description } = Astro.props;
---
<BaseLayout title={title} schema={schema} description={description}>
  <Nav />
  <main class="container mx-auto px-4 py-8">
    <slot />
  </main>
</BaseLayout>
